@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.OURJOURNEY {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-color: #0c0217;
}

#journeylist-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#journeylist-content {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 200px;
}

#journeylist-content::-webkit-scrollbar {
  width: 0;
}

#journeylist-content .event {
  width: 1024px;
  position: relative;
  height: auto;
  padding: 3%;
  padding-right: 0%;
  font-size: 1.1rem;
}

@media (max-width: 768px) {
  #journeylist-content .event {
    padding: 5%;
  }
}

#journeylist-img {
  width: 70%;
  max-width: 350px;
}

#journeylist-content #data-year {
  position: absolute;
  left: -10%;
  color: white;
}

#journeylist-content #data-year-img {
  position: absolute;
  left: -10%;
  top: 8.5%;
  color: white;
}

#journeylist-modal {
  margin-bottom: 5%;
}

#journeylist-modal .event {
  position: relative;
  width: 1086px;
  height: auto;
  padding: 5%;
  font-size: 32px;
  border-left: 1px dotted black;
}

#journeylist-modal .event::before {
  width: 21px;
  height: 21px;
  content: "";
  border: 3px solid black;
  border-radius: 50%;
  position: absolute;
  background-color: white;
  left: -1%;
}

#journeylist-modal #data-year {
  position: absolute;
  left: -10%;
}

#journeylist-modal #data-year-img {
  position: absolute;
  left: -10%;
  top: 8%;
}

/* === DESKTOP ONLY (>= 992px) === */
@media (min-width: 992px) {
  .journeylist-timeline {
    width: 5px;
    height: 10px;
    position: absolute;
    background-color: white;
    top: 10px;
    margin-right: 1025px;
    opacity: 0;
  }

  #journeylist-pointer {
    width: 24px;
    height: 24px;
    background-color: white;
    position: absolute;
    top: 0px;
    margin-right: 1025px;
    border-radius: 12px;
    transition: top 0s;
  }

  #journeylist-content .event {
    opacity: 0; /* fade in effect */
    transition: opacity 0.3s;
  }

  #journeylist-content .event::before {
    width: 21px;
    height: 21px;
    content: "";
    border: 3px solid white;
    border-radius: 50%;
    position: absolute;
    background-color: black;
    left: -1%;
  }
}

/* === TABLET (<= 1200px) === */
@media (max-width: 1200px) {
  .OURJOURNEY {
    height: auto;
    font-family: "Mulish", sans-serif;
  }

  #journeylist-container {
    height: auto;
  }

  #journeylist-content {
    height: auto;
  }

  #journeylist-content .event {
    width: 750px;
    font-size: 1.1rem;
    border-left: 1px dotted white;
    opacity: 1 !important;
    transition: none !important;
  }

  .journeylist-timeline,
  #journeylist-pointer {
    display: none !important;
  }

  #journeylist-content .event::before {
    width: 15px;
    height: 15px;
    border: 3px solid white;
    border-radius: 50%;
    position: absolute;
    background-color: black;
    left: -1%;
  }

  #journeylist-content #data-year {
    position: relative;
    padding-left: 10%;
  }

  #journeylist-content #data-year-img {
    position: relative;
    padding-left: 10%;
    top: 0%;
  }

  #journeylist-modal {
    margin-bottom: 7.5%;
  }

  #journeylist-modal .event {
    width: 750px;
    font-size: 20px;
  }
}

/* === MOBILE (<= 768px) === */
@media (max-width: 768px) {
  .OURJOURNEY {
    height: auto;
    font-family: "Mulish", sans-serif;
  }

  #journeylist-container {
    height: auto;
  }

  #journeylist-content {
    height: auto;
  }

  #journeylist-content .event {
    width: 90%;
    font-size: 1.1rem;
    border-left: 1px dotted white;
    opacity: 1 !important;
    transition: none !important;
  }

  .journeylist-timeline,
  #journeylist-pointer {
    display: none !important;
  }

  #journeylist-content .event::before {
    width: 10px;
    height: 10px;
    border: 3px solid white;
    border-radius: 50%;
    position: absolute;
    background-color: black;
    left: -1%;
  }

  #journeylist-content #data-year {
    position: relative;
    padding-left: 10%;
  }

  #journeylist-content #data-year-img {
    position: relative;
    padding-left: 10%;
    top: 0%;
  }

  #journeylist-modal {
    margin-bottom: 17.5%;
  }

  #journeylist-modal .event {
    width: 90%;
    font-size: 20px;
  }

  #journeylist-modal .event::before {
    width: 10px;
    height: 10px;
    border: 3px solid black;
    border-radius: 50%;
    position: absolute;
    background-color: white;
    left: -1%;
  }

  #journeylist-img {
    min-width: 150px;
  }
}
